.TaskList{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

th{
    border: 2px solid black;
    padding: 10px;
}

td{
    border: 2px solid black;
    padding: 10px;
}

table{
    background-color: antiquewhite;

}

.btnAggTask{
    border-radius: 30px 30px;
}